aws_region              = "ap-southeast-1"
environment             = "portfolio"

# Password Policy Configuration
max_password_age                = 90
minimum_password_length         = 14
require_uppercase_characters    = true
require_numbers                 = true
require_symbols                 = true
allow_user_to_change_password   = true
password_reuse_prevention       = 5



# IAM Naming
group_name        = "Administrators"
user_name         = "prasetyo-support"
ec2_role_name     = "EC2-S3-ReadOnly-Role"